
.container {
    margin-top: -1.7rem;
    display: flex;
    justify-content: center;
    font-family: 'Into' , sans-serif;
    gap: 8px;
    font-size: 1rem;  
  }
  
.Input {
    background: var(--gray-500);
    color: var(--gray-300);
    width: 46rem;
    height: 3.4rem;
    padding: 0 1rem;
    border-radius: 8px;
    resize: none;
    line-height: 3.2rem;
    border: 1px solid var(--gray-700);
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}
  
.addButton {
    background: var(--bluedark);
    padding: 1rem;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    display: inline-flex;
    gap: 8px; 
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
}
  
.addButton img {
    width: 1rem;
    height: 1rem;
}
  