.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 51.5rem;
  border-radius: 8px;
  margin-top: 6.7rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}


